.pager li {
  margin: 0 2px;
}
.pager li .active_link {
  background: #d6d6d6 !important;
}
/* For the CKEditor 5 */
.ck .ck-editor__editable {
  height: 200px !important;
}
.vl {
  border-left: solid #adadad;
  width: 1px;
  margin-left: 10px;
  margin-right: 10px;
  margin: 16px 10px 16px 10px;
  background: linear-gradient(#fff, #646464);
}
